@import "tailwindcss";

@theme {
  --color-zinc-950: #09090b;
}

body {
  background-color: #050505;
  color: #fff;
  font-feature-settings: "ss01", "ss02", "cv01", "cv02";
  -webkit-font-smoothing: antialiased;
  background-image:
    linear-gradient(rgba(76, 175, 80, 0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(76, 175, 80, 0.03) 1px, transparent 1px);
  background-size: 30px 30px;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #4caf50, #ffe135);
  border-radius: 5px;
  border: 2px solid #050505;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #43a047, #fdd835);
}

/* Utilities */
@utility animate-border {
  animation: border-dance 4s linear infinite;
}

@keyframes border-dance {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@utility animate-float {
  animation: float 6s ease-in-out infinite;
}